<ion-header>
  <ion-toolbar>
    <div class="logohome">
    <ion-title>Eventos</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="ticket-outline"></ion-icon>
    <ion-label>Nome do Evento:</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="man-outline"></ion-icon>
    <ion-label>Limite de Pessoas:</ion-label>
    <ion-input placeholder="" type="number"></ion-input>
  </ion-item>
  
  
    <ion-item>
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Local:</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Valor:</ion-label>
      <ion-input placeholder="R$ 00,00" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Dia do Evendo:</ion-label>
      <ion-input placeholder="DD/MM/AA" type="number"></ion-input>
    </ion-item>


    <ion-item>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label >Descrição:</ion-label>
      <ion-textarea placeholder=""></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label >Imagem do Evento:</ion-label>
    </ion-item>
    <ion-item>
      <input type="file">
    </ion-item>

<ion-button color="danger">Cancelar</ion-button>
<ion-button color="success">Confirmar</ion-button>
   
</ion-content>
