<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-label>1</ion-label>
      <ion-input type="text"></ion-input>
      <br>
      <ion-label>1</ion-label>
      <ion-input type="text"></ion-input>
      <br>
      <ion-label>1</ion-label>
      <ion-input type="text"></ion-input>
      <br>
      <ion-label>1</ion-label>
      <ion-input type="text"></ion-input>
      <br>
      <ion-label>image Eventos</ion-label>
      <ion-button>Cadastrar Eventos</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
