<ion-header>
  <ion-toolbar>
    <div class="logohome">
    <ion-title>Eventos</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="ticket-outline"></ion-icon>
    <ion-label>Nome do Evento:</ion-label>
    <ion-input [(ngModel)]="Eventos.Name" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="man-outline"></ion-icon>
    <ion-label>Limite de Pessoas:</ion-label>
    <ion-input [(ngModel)]="Eventos.quantidade" placeholder="" type="number"></ion-input>
  </ion-item>
  
  
    <ion-item>
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Local:</ion-label>
      <ion-input [(ngModel)]="Eventos.Local" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Valor:</ion-label>
      <ion-input [(ngModel)]="Eventos.Valor" placeholder="R$ 00,00" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Dia do Evendo:</ion-label>
      <ion-input  [(ngModel)]="Eventos.Data" placeholder="DD/MM/AA" type="number"></ion-input>
    </ion-item>


    <ion-item>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label >Descrição:</ion-label>
      <ion-textarea [(ngModel)]="Eventos.desquicao_evento"  placeholder=""></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label >Imagem do Evento:</ion-label>
      <ion-input type="file" name="imagem" class="form-control" (change)="onUploadImage($event)" accept=".png, .jpg, .jpeg, .pdf"></ion-input>
    </ion-item>

    <img src="{{imagemBase64String}}" alt="">

<ion-button color="danger">Cancelar</ion-button>
<ion-button  (click)="EventosCrads()" color="success">Confirmar</ion-button>
   
</ion-content>
