<ion-header>
  <ion-toolbar>
    <div class="logohome">
      <ion-title>Eventoslist</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 

     

      <ion-item>
        <ion-label position="floating">Nome do Evento:</ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição do Evento:</ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valor:</ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Local do Evento:</ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dia do Evento:</ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantidade de Pessoa:</ion-label>
        <ion-label></ion-label>


      <!-- </ion-item>
      <ion-card-subtitle>Os verdadeiros sei quem são</ion-card-subtitle>
      <ion-card-title>Festa de Pijama</ion-card-title> -->

    </ion-item>
    <ion-item>
      <img src="" alt="" srcset="">
      <ion-button (click)="eventoslist()">
        <ion-icon name="heart-outline"></ion-icon>Curtida
      </ion-button>
    </ion-item>
   
</ion-content>
