<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink = "/login"><ion-icon name="log-in-outline"></ion-icon>sign in</ion-item>
        <ion-item routerLink = "/register"><ion-icon class="add-circle-outline" name="add-circle-outline"></ion-icon>register</ion-item>
        <ion-item routerLink = "/home"><ion-icon name="home-outline"></ion-icon>Home</ion-item>
        <ion-item routerLink = "/eventos"><ion-icon name="sparkles-outline"></ion-icon>Eventos</ion-item>
        <ion-item routerLink = "/eventoslist"><ion-icon name="list-outline"></ion-icon>Eventos-listar</ion-item>
        <ion-item routerLink = "/avaliar"><ion-icon name="star"></ion-icon>Avaliação</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
 
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
